
     
          <nav class="dashboard-navbar">
            <div class="navbar-header">
              <h1>IT LENS</h1>
            </div>
            <div class="search-container">
              <input type="text" placeholder="Search..." class="search-input">
            </div>
            <ul class="nav-links">
              <li><a href="#" class="">Dashboard</a></li>
              
              <li><a routerLink="/surveys-list" routerLinkActive="active" ariaCurrentWhenActive="page">Surveys</a></li>
              <li><a href="#">Editions</a></li>
              <li><a href="#">Gestion des question</a></li>
              <li><a href="#">Gestion des reponse</a></li>
             
            
            </ul>
          </nav>