<h1>Question</h1>
<div class="answers">
    <div class="answer">
        <input type="radio" name="z" id="x">
        <label for="">Reponse 1</label>
    </div>
    <div class="answer">
        <input type="radio" name="z" id="x">
        <label for="">Reponse 1</label>
    </div>
    <div class="answer">
        <input type="radio" name="z" id="">
        <label for="">Reponse 1</label>
    </div>
    <div class="answer">
        <input type="radio" name="" id="">
        <label for="">Reponse 1</label>
    </div>
    <div class="answer">
        <input type="radio" name="" id="">
        <label for="">Reponse 1</label>
    </div>
</div>
<button>Suivant</button>